/* body {
    background: aqua;
    text-align: center;
} */
/*------------ejercicio uno float------------*/

/* p {
    font-size: 1.5em;
    text-align: justify;
}
img {
    height: 150px;
}
.css {
    margin: 0 1.8rem;
    float: left;
}
.html {
    float: right;
} */

/*-------------ejercicio dos float-------------------*/
/* p {
    font-size: 1em;
    text-align: justify;
}
img {
    height: 150px;
} */

/*--------------ejercicio float parte tres-------------*/
/* .caja {
    margin-top: %;
    background-color: darkmagenta;
    width: 200px;
    height: 200px;
    float: none;
    clear: both;
}
.caja1 {
    margin-top: %;
    background-color: darkcyan;
    width: 100px;
    height: 100px;
    float: none;
    clear: both;
    
}
.caja2 {
    margin-top: 2%;
    background-color: darkcyan;
    width: 100px;
    height: 100px;
}
.caja3 {
    margin-top: 2%;
    background-color: darkcyan;
    width: 100px;
    height: 100px;
}
.caja4 {
    margin-top: 2%;
    background-color: darkcyan;
    width: 100px;
    height: 100px;
}
.caja5 {
    margin-top: 2%;
    background-color: darkcyan;
    width: 100px;
    height: 100px;
}
.caja6 {
    margin-top: 2%;
    background-color: darkcyan;
    width: 100px;
    height: 100px;
}
 */

/* ejercicio float parte cuatro */
/* *{
    box-sizing: border-box;
}
img{
    height: 100px;
    float: left;
}

div{
    width: 240px;
    border: 1px solid black;
} */

/* ejercicio float parte cinco */

/* *{
    box-sizing: border-box;
}
img{
    height: 100px;
    position: absolute;
    left: 0;
}

div{
    width: 240px;
    border: 1px solid black;
    position: relative;
    padding-left: 100px;
} */

/* ejercicio fload parte seise */
/* body {
    padding: 30px;
}
.anterior {
    float: left;
}
.siguiente {
    float: right;
} */

/* ejercicio fload parte siete */
/* body {
    padding: 30px;
}
.anterior {
    float: left;
}
.siguiente {
    float: right;
}
.clear {
    clear: both;
} */


/* ejercicio fload parte ocho */
/* .contenedor {
    border: 1px solid black;
}

p{
    border: 2px solid red;
}

img {
    float: right;
} */

/* ejercicio fload parte nueve */
.contenedor {
    overflow: auto;
    border: 1px solid black;
}
p{
    border: 2px solid red;
}
img{
    float: right;
}
